# Node
node_modules/
backend/src/uploads/

# Go
frontend/.env
frontend/bin/
frontend/tmp/

# Env files
.env
backend/.env

# Data / build
data/
bin/

# OS / IDE
.DS_Store
.vscode/
.idea/

evaluacion.go